html, body {
  background-color: #00e6e6;
  font-size: 1.5em;
  font-family: sans-serif;
}
div {
  border-width: medium;
  border-color: #5500ff;
  border-style: dotted;
  width: 300px;

}
div:nth-child(1) {
  background-color: #ffcc99;
}
div:nth-child(2) {
  background-color: #99ff66;
}
div:nth-child(3) {
  background-color: #ff3377;
}
#container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}
